<html>
    <head>        
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
    </head>
    <body>
        <h1>RaBid Logbook</h1>
        {% block content %}
        <script>
            var widgets = {{widgets | tojson }};
            var current_widget = null;
            function edit_widget_code(row, col) {
                document.getElementById("widget_code").value = widgets[row][col].code;
                current_widget = [row, col];
            }
            function save_and_render_widget(){
                let row = current_widget[0];
                let col = current_widget[1];
                let code = document.getElementById("widget_code").value;
                widgets[row][col].code = code;
            }
        </script>
            
        {% for row in widgets %}
        <div style="display: flex;">
            {% for widget in row %}
                <div id="widget_{{widget.row}}x{{widget.col}}">{{widget.html | safe }}</div>
                <button onclick="edit_widget_code({{widget.row}}, {{widget.col}});">edit</button>
            {% endfor %}
        </div>
        {% endfor %}
        <textarea id="widget_code" cols="30" rows="10"></textarea>
        <button onclick="save_and_render_widget();">Save</button>
        {% endblock %}
    </body>
</html>